extends layouts/admin
mixin loading(id)
	.loading(id=id)
		.l
			.l1
			.l2
			.l3
			.l4
			.l5
			.l6
			.l7
			.l8
block root
	#root
		p Root
block scoreboard
	#scoreboard
		p Scoreboard
block usergroups
	#usergroups
		#usergroup-hover
			p Edit
		.block
			p.header User Groups
			.list
				.placeholder.hidden
					+loading("usergroup-loading")
				ul#usergroup-list
			p.center
				a(href="/usergroup/create") Create User Group
block usergroup-create
	#usergroup-create
		.block
			p.header Create User Group
			form#jfug-cr.judge-form(auto-complete="off")
				.row
					input.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfug-cr-a(name="a", type="checkbox", checked)
					label(for="jfug-create-a") Active - Inactive groups cannot log in.
				.row
					input#jfug-cr-cl.form-button(value="Clear", type="button")
					input#jfug-cr-cr.form-button(value="Create", type="button")
					input#jfug-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfug-cr-er.form-error
block usergroup-edit
	#usergroup-edit
		.block
			p.header Edit User Group
			form#jfug-ed.judge-form(auto-complete="off")
				input#jfug-ed-i(name="i", type="hidden")
				.row
					input.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfug-ed-a(name="a", type="checkbox")
					label(for="jfug-ed-a") Active - Inactive groups cannot log in.
				.row
					input#jfug-ed-cl.form-button(value="Clear", type="button")
					input#jfug-ed-up.form-button(value="Update", type="button")
					input#jfug-ed-dl.form-button(value="Delete", type="button")
					input#jfug-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p.form-error
	.block#users
		.actions
			//.createUser
				p.header Create User
				form#create-user-form.judge-form(auto-complete="off")
					input.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off", required)
					input.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off", required)
					input.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off", required)
					input.form-button(value="Create User", type="submit")
					input.form-button(value="Clear", type="button", onclick="parentNode.reset()")
					p.form-error
			//.editUser
				p.header Edit User
				form#user-user-form.judge-form(auto-complete="off")
					select#userlist(onchange="jUserUserSelect()")
					input.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off")
					input.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off")
					input.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off")
					input.form-button(value="Edit User", type="submit")
					input.form-button(value="Clear", type="button", onclick="parentNode.reset()")
					input.form-button(value="Delete User", type="button", onclick="judgeDeleteUser(form)")
					p.form-error
