extends layouts/admin
block root
	p Root
block scoreboard
	p Scoreboard
block users
	//.mode
		p
			a(href="#") User Groups
			span |
			a(href="#") Users
	#usergroup
		#usergroup-hover
			p Edit
		.block
			p.header User Groups
			.list
				ul
					li: a(href="/usergroup/1", onmouseenter="jUserGroupMouseEnter(this)", onmouseleave="jUserGroupMouseLeave()", i="1") admin
					li: a(href="/usergroup/2", onmouseenter="jUserGroupMouseEnter(this)", onmouseleave="jUserGroupMouseLeave()", i="2") judge1
					li: a(href="/usergroup/3", onmouseenter="jUserGroupMouseEnter(this)", onmouseleave="jUserGroupMouseLeave()", i="3") acm123
					li: p There are no user groups.
		.block
			.createGroup
				p.header Create User Group
				form#user-groupCreate-form.judge-form(auto-complete="off")
					input.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
					input#chk-active(name="a", type="checkbox")
					label(for="chk-active") Active
					input.form-button(value="Clear", type="button", onclick="parentNode.reset()")
					input.form-button(value="Create", type="button", onclick="judgeGroupCreate(form)")
					p.form-error
			.editGroup
				p.header Edit User Group
				form#user-groupEdit-form.judge-form(auto-complete="off")
					select#grouplist(onchange="jUserGroupSelect()")
						option admin
						option judge1
						option acm123
					input.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
					input#chk-active(name="a", type="checkbox")
					label(for="chk-active") Active
					input.form-button(value="Clear", type="button", onclick="parentNode.reset()")
					input.form-button(value="Edit", type="button", onclick="judgeGroupUpdate(form)")
					input.form-button(value="Delete", type="button", onclick="judgeGroupDelete(form)")
					p.form-error
	.block#users
		.actions
			.createUser
				p.header Create User
				form#create-user-form.judge-form(auto-complete="off")
					input.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off", required)
					input.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off", required)
					input.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off", required)
					input.form-button(value="Create User", type="submit")
					input.form-button(value="Clear", type="button", onclick="parentNode.reset()")
					p.form-error
			.editUser
				p.header Edit User
				form#user-user-form.judge-form(auto-complete="off")
					select#userlist(onchange="jUserUserSelect()")
					input.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off")
					input.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off")
					input.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off")
					input.form-button(value="Edit User", type="submit")
					input.form-button(value="Clear", type="button", onclick="parentNode.reset()")
					input.form-button(value="Delete User", type="button", onclick="judgeDeleteUser(form)")
					p.form-error
