extends layouts/admin
mixin loading(id)
	.loading(id=id)
		.l
			.l1
			.l2
			.l3
			.l4
			.l5
			.l6
			.l7
			.l8
block root
	#root
		p Root
block scoreboard
	#scoreboard
		p Scoreboard
block usergroups
	#usergroups
		#usergroup-hover
			p Edit
		.block
			p.header User Groups
			.list
				.placeholder.hidden
					+loading("usergroup-loading")
				ul#usergroup-list
			p.center
				a(href="/usergroup/create") Create User Group
block usergroup-create
	#usergroup-create
		.block
			p.header Create User Group
			form#jfug-cr.judge-form(auto-complete="off")
				.row
					input#jfug-cr-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfug-cr-a(name="a", type="checkbox", checked)
					label(for="jfug-create-a") Active - Inactive groups cannot log in.
				.row
					input#jfug-cr-cl.form-button(value="Clear", type="button")
					input#jfug-cr-cr.form-button(value="Create", type="button")
					input#jfug-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfug-cr-er.form-error
block usergroup-edit
	#usergroup-edit
		.block
			p.header Edit User Group
			form#jfug-ed.judge-form(auto-complete="off")
				input#jfug-ed-i(name="i", type="hidden")
				.row
					input#jfug-ed-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfug-ed-a(name="a", type="checkbox")
					label(for="jfug-ed-a") Active - Inactive groups cannot log in.
				.row
					input#jfug-ed-cl.form-button(value="Clear", type="button")
					input#jfug-ed-up.form-button(value="Update", type="button")
					input#jfug-ed-dl.form-button(value="Delete", type="button")
					input#jfug-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfug-ed-er.form-error
		#user-hover
			p Edit
		.block
			p.header Users
			.list
				.placeholder.hidden
					+loading("user-loading")
				ul#user-list
			p.center
				a#user-create-lnk(href="/user/create") Create User
block user-create
	#user-create
		.block
			p.header Create User
			form#jfu-cr.judge-form(auto-complete="off")
				input#jfu-cr-g(name="g", type="hidden")
				.row
					input#jfu-cr-n.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off")
				.row
					input#jfu-cr-p1.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off", required)
				.row
					input#jfu-cr-p2.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off", required)
				.row
					input#jfu-cr-d.judge-form-string(name="d", type="text", placeholder="Display Name", autocomplete="off")
				.row
					input#jfu-cr-cl.form-button(value="Clear", type="button")
					input#jfu-cr-cr.form-button(value="Create", type="button")
					input#jfu-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfu-cr-er.form-error
block user-edit
	#user-edit
		.block
			p.header Edit User
			form#jfu-ed.judge-form(auto-complete="off")
				input#jfu-ed-g(name="g", type="hidden")
				input#jfu-ed-i(name="i", type="hidden")
				.row
					input#jfu-ed-n.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off")
				.row
					input#jfu-ed-p1.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off", required)
				.row
					input#jfu-ed-p2.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off", required)
				.row
					input#jfu-ed-d.judge-form-string(name="d", type="text", placeholder="Display Name", autocomplete="off")
				.row
					input#jfu-ed-cl.form-button(value="Clear", type="button")
					input#jfu-ed-up.form-button(value="Update", type="button")
					input#jfu-ed-dl.form-button(value="Delete", type="button")
					input#jfu-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfu-ed-er.form-error
