extends layouts/default
block head
	link(rel="stylesheet", href="/public.min.css")
	script(src="/public.min.js")
block body
	.title-container
		.title
			p beachJudge
			form(method="POST")#login-form.judge-form
				input.string(name="username", type="text", placeholder="Username", required)
				input.string(name="password", type="password", placeholder="Password", required)
				input.button(value="Login", type="submit")
			p.login-error Login Failed!
