extends default
block head
	link(rel="stylesheet", href="judge.min.css")
	link(rel="stylesheet", href="admin.min.css")
	script(src="common.min.js")
	script(src="judge.min.js")
	script(src="admin.min.js")
block header
	header: .container
		ul.mainNav
			li: a(href="/") beachJudge
			li: a(href="/scoreboard") Scoreboard
			li: a(href="/usergroups") Users
			li.logout: a(href="", onclick="judgeLogout()") Logout
block body
	.container
		.hideall
			#404
				p.center 404
			block root
			block scoreboard
			block usergroups
			block usergroup-create
