doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= "beachJudge"
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", type="text/css")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto", type="text/css")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700")
		link(rel="stylesheet", href="/site.min.css")

		script(src="//code.jquery.com/jquery-1.11.2.min.js")
		script.
			if (window.location.protocol != "https:")
				window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
			function setCookie(cname, cvalue, exdays) {
				var d = new Date();
				d.setTime(d.getTime() + (exdays*24*60*60*1000));
				var expires = "expires="+d.toUTCString();
				document.cookie = cname + "=" + cvalue + ";" + expires;
			}
			function deleteCookie(cname) {
				document.cookie = cname + "=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
			}
		//script(src="/js/lib/jquery/jquery-1.10.2.min.js")
		//script(src="/js/lib/markdown.js")
	body: .beach-judge
		header: .container
			ul
				li: a(href="javascript:nav('/')") beachJudge
				li: a(href="javascript:nav('/scoreboard')") Scoreboard
				li.logout: a(href="javascript:judgeLogout()") Logout
			script.
				function judgeLogout() {
					$.ajax({
						type: "POST",
						url: "/logout",
						data: "",
						success: function(result) {
							if(result === "ERR") {
								console.log("Logout error");
							} else {
								sessionStorage.removeItem("JUDGESESSID");
								deleteCookie("JUDGESESSID");
								window.location = window.location.origin;
							}
						}
					});
				}
		block content
		footer: .container
			p &copy; 2014-2015 CSULB ACM
