doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title= "beachJudge"
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", type="text/css")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto", type="text/css")
		script(src="//code.jquery.com/jquery-1.12.0.min.js")
		block head
	body: .beach-judge
		block header
		block body
		//footer: .container
			p &copy; 2015-2016 CSULB ACM
