extends ../layouts/admin
mixin loading(id)
	.loading(id=id)
		.l
			.l1
			.l2
			.l3
			.l4
			.l5
			.l6
			.l7
			.l8
block root
	#root
		p Root
block scoreboard
	#scoreboard
		p Scoreboard
block usergroups
	#usergroups
		#usergroup-hover
			p Edit
		.block
			p.header User Groups
			.list
				.placeholder.hidden
					+loading("usergroup-loading")
				ul#usergroup-list
			p.center
				a(href="/usergroup/create") Create User Group
block usergroup-create
	#usergroup-create
		.block
			p.header Create User Group
			form#jfug-cr.judge-form(auto-complete="off")
				.row
					input#jfug-cr-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfug-cr-a(name="a", type="checkbox", checked)
					label(for="jfug-create-a") Active - Inactive groups cannot log in.
				.row
					input#jfug-cr-cl.form-button(value="Clear", type="button")
					input#jfug-cr-cr.form-button(value="Create", type="button")
					input#jfug-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfug-cr-er.form-error
block usergroup-edit
	#usergroup-edit
		.block
			p.header Edit User Group
			form#jfug-ed.judge-form(auto-complete="off")
				input#jfug-ed-i(name="i", type="hidden")
				.row
					input#jfug-ed-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfug-ed-a(name="a", type="checkbox")
					label(for="jfug-ed-a") Active - Inactive groups cannot log in.
				.row
					input#jfug-ed-cl.form-button(value="Clear", type="button")
					input#jfug-ed-up.form-button(value="Update", type="button")
					input#jfug-ed-dl.form-button(value="Delete", type="button")
					input#jfug-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfug-ed-er.form-error
		#user-hover
			p Edit
		.block
			p.header Users
			.list
				.placeholder.hidden
					+loading("user-loading")
				ul#user-list
			p.center
				a#user-create-lnk(href="/user/create") Create User
block user-create
	#user-create
		.block
			p.header Create User
			form#jfu-cr.judge-form(auto-complete="off")
				input#jfu-cr-g(name="g", type="hidden")
				.row
					input#jfu-cr-n.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off")
				.row
					input#jfu-cr-p1.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off", required)
				.row
					input#jfu-cr-p2.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off", required)
				.row
					input#jfu-cr-d.judge-form-string(name="d", type="text", placeholder="Display Name", autocomplete="off")
				.row
					input#jfu-cr-cl.form-button(value="Clear", type="button")
					input#jfu-cr-cr.form-button(value="Create", type="button")
					input#jfu-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfu-cr-er.form-error
block user-edit
	#user-edit
		.block
			p.header Edit User
			form#jfu-ed.judge-form(auto-complete="off")
				input#jfu-ed-g(name="g", type="hidden")
				input#jfu-ed-i(name="i", type="hidden")
				.row
					input#jfu-ed-n.judge-form-string(name="n", type="text", placeholder="Username", autocomplete="off")
				.row
					input#jfu-ed-p1.judge-form-string(name="p1", type="password", placeholder="Password", autocomplete="off", required)
				.row
					input#jfu-ed-p2.judge-form-string(name="p2", type="password", placeholder="Confirm Password", autocomplete="off", required)
				.row
					input#jfu-ed-d.judge-form-string(name="d", type="text", placeholder="Display Name", autocomplete="off")
				.row
					input#jfu-ed-cl.form-button(value="Clear", type="button")
					input#jfu-ed-up.form-button(value="Update", type="button")
					input#jfu-ed-dl.form-button(value="Delete", type="button")
					input#jfu-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfu-ed-er.form-error
block problemsets
	#problemsets
		#problemset-hover
			p Edit
		.block
			p.header Problem Sets
			.list
				.placeholder.hidden
					+loading("problemset-loading")
				ul#problemset-list
			p.center
				a#problemset-create-lnk(href="/problemset/create") Create Problem Set
block problemset-create
	#problemset-create
		.block
			p.header Create Problem Set
			form#jfps-cr.judge-form(auto-complete="off")
				.row
					input#jfps-cr-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfps-cr-s.judge-form-string(name="s", type="text", placeholder="Status", autocomplete="off")
				.row
					input#jfps-cr-t.judge-form-string(name="t", type="text", placeholder="Start Time", autocomplete="off")
				.row
					input#jfps-cr-d.judge-form-string(name="d", type="text", placeholder="Duration", autocomplete="off")
				.row
					input#jfps-cr-cl.form-button(value="Clear", type="button")
					input#jfps-cr-cr.form-button(value="Create", type="button")
					input#jfps-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfps-cr-er.form-error
				input#jfps-cr-o(name="o", type="hidden")
block problemset-edit
	#problemset-edit
		.block
			p.header Edit Problem Set
			form#jfps-ed.judge-form(auto-complete="off")
				input#jfps-ed-i(name="i", type="hidden")
				.row
					input#jfps-ed-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfps-ed-s.judge-form-string(name="s", type="text", placeholder="Status", autocomplete="off")
				.row
					input#jfps-ed-t.judge-form-string(name="t", type="text", placeholder="Start Time", autocomplete="off")
				.row
					input#jfps-ed-d.judge-form-string(name="d", type="text", placeholder="Duration", autocomplete="off")
				.row
					input#jfps-ed-cl.form-button(value="Clear", type="button")
					input#jfps-ed-up.form-button(value="Update", type="button")
					input#jfps-ed-dl.form-button(value="Delete", type="button")
					input#jfps-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfps-ed-er.form-error
				input#jfps-ed-o(name="o", type="hidden")
		#problem-hover
			p Edit
		.block
			p.header Problems
			.list
				.placeholder.hidden
					+loading("problem-loading")
				ul#problem-list
			p.center
				a#problem-create-lnk(href="/user/problem") Create Problem
block problem-create
	#problem-create
		.block
			p.header Create Problem
			form#jfp-cr.judge-form(auto-complete="off")
				input#jfp-cr-s(name="s", type="hidden")
				.row
					input#jfp-cr-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfp-cr-cl.form-button(value="Clear", type="button")
					input#jfp-cr-cr.form-button(value="Create", type="button")
					input#jfp-cr-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfp-cr-er.form-error
block problem-edit
	#problem-edit
		.block
			p.header Edit Problem
			form#jfp-ed.judge-form(auto-complete="off")
				input#jfp-ed-s(name="s", type="hidden")
				input#jfp-ed-i(name="i", type="hidden")
				.row
					input#jfp-ed-n.judge-form-string(name="n", type="text", placeholder="Name", autocomplete="off")
				.row
					input#jfp-ed-cl.form-button(value="Clear", type="button")
					input#jfp-ed-up.form-button(value="Update", type="button")
					input#jfp-ed-dl.form-button(value="Delete", type="button")
					input#jfp-ed-ca.form-button(value="Cancel", type="button")
				.row.hidden
					p#jfp-ed-er.form-error
		.block
			p.header Problem Description
			form#jfp-upd.judge-form(auto-complete="off")
				.row
					input#jfp-upd-f(name="f", type="file")
				.row
					input#jfp-upd-vw.form-button(value="View", type="button")
					input#jfp-upd-up.form-button(value="Upload", type="button")
		.block
			p.header Sample Test Files
			form#jfp-upt.judge-form(auto-complete="off")
				.row
					input#jfp-upt-f(name="f", type="file")
				.row
					input#jfp-upt-vw.form-button(value="View", type="button")
					input#jfp-upt-up.form-button(value="Upload", type="button")

block content
	block root
	block scoreboard
	block usergroups
	block usergroup-create
	block usergroup-edit
	block user-create
	block user-edit
	block problemsets
	block problemset-create
	block problemset-edit
	block problem-create
	block problem-edit
