extends layouts/default
block content
	.container.hideall
		#root
			p Root
		#scoreboard
			p Scoreboard
		#teams
			.list
				p.header Teams
				ul#teamlist
			.actions
				.createTeam
					p.header Create Team
	script(src="site.min.js")
	script.
		(function() {
			$(".logout").before("<li><a href=\"javascript:nav('/teams')\">Teams</a></li>");
		})();
