.sticky {
	margin-top: 50px;
	position: fixed;
}

.content {
	margin-top: 75px;
}
.panel {
	padding: 0;
}

.panel .panel-body {
	margin-top: 0;

}

.panel h2 {
	border-bottom: 1px solid #ccc;
	margin:0;
	padding: 10px 15px;
	
	font-size: 20px;
	font-weight: bold;
}

.panel h2 a.more { 
	margin: -5px -5px 0 0;
	padding: 5px 10px;
	float: right;
}

table  {
	text-align: center;
}

.login-holder {
	margin: 0 10px;
}
.login-holder a {
	padding:10px !important; 
	margin:5px 0 !important;
}

.mail .panel-body{
	margin: 0;
	padding: 0;
}
.mail ul {
	padding:0;
	margin: 0;
}
.mail ul li {
	list-style: none;
	padding: 15px 25px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}
.mail ul li:hover {
	color:#fff;
	background:#049cdb; 
	cursor: pointer;
}